.page {
  width: 50%;
  margin: 0 auto;
  padding: 5% 0;
  @media screen and (max-width: 700px) {
    width: 98%;
  }

  &__link {
    color: $mainColor;
  }
  &__title {
    font-weight: normal;
    margin-bottom: 1.5em;
  }
  &__subtitle {
    font-weight: normal;
    margin-bottom: 1em;
  }
  &__block {
    margin-bottom: 3em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
