.post {
  padding: 0.5em;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
  &__text {
    margin-bottom: 1em;
  }

  &__attachments {
    margin-bottom: 2em;
  }

  &__attachment {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    max-width: 100%;
    display: block;
  }

  &__info {
    display: flex;
    align-items: center;
  }
}
